.header {
  border-bottom: 1px solid #ececec;
}
.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.site-nav, .contacts {
    display: none;
}


.envelope {
  @media screen and (min-width: 768px) {
  
  margin-right: 8px;

  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  
  margin-right: 10px;
}
}
.vector {
  @media screen and (min-width: 768px) {
  margin-right: 8px;

  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  
  margin-right: 10px;
}
}

.site-nav {
  @media screen and (min-width: 768px) {
  display: flex;
}
}
.site-nav__item {
  margin-right: 50px;

  &:last-child {
    margin-right: 0px;
  }
}

.site-nav__link {
  @media screen and (min-width: 768px){
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.02em;
  line-height: 1.1;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;

    margin-bottom: -1.5px;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
    opacity: 0;
  }

  &--current::after,
  &:hover::after,
  &:focus::after {
    opacity: 1;
  }

  &--current::after {
    color: var(--accent-color);
  }
  &--current {
    color: var(--accent-color);
  }
}
}
.contacts {
  @media screen and (min-width: 768px) {

  display: flex;
  align-items: start;
  flex-direction: column;
  padding-top: 21px;
  padding-bottom: 21px;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

}
.contacts__item {
  @media screen and (min-width: 768px) and (max-width: 1199.99px) {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  margin-right: 8px;

  &:last-child {
    margin-right: 0px;
  }
}
}
.contacts__nav {
  @media screen and (min-width: 768px) {
  display: flex;

  align-items: center;
  justify-content: center;

  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-size: 12px;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  font-size: 14px;
}
}
}